# Created by https://www.toptal.com/developers/gitignore/api/intellij+all,visualstudiocode,eclipse,maven,gradle
# Edit at https://www.toptal.com/developers/gitignore?templates=intellij+all,visualstudiocode,eclipse,maven,gradle

### Eclipse ###
.apt_generated/
.apt_generated_test/
.externalToolBuilders/
.recommenders/
.sts4-cache/
bin/
tmp/

.autotools
.buildpath
.cache-main
.classpath
.cproject
.factorypath
.loadpath
.metadata
.project
.recommenders
.scala_dependencies
.springBeans
.target
.tern-project
.texlipse
.worksheet

*.tmp
*.bak
*.launch
*.pydevproject
*.swp
*~.nib
local.properties

### Intellij+all ###
# Covers JetBrains IDEs: IntelliJ, RubyMine, PhpStorm, AppCode, PyCharm, CLion, Android Studio, WebStorm and Rider
# Reference: https://intellij-support.jetbrains.com/hc/en-us/articles/206544839

# User-specific stuff
.idea/
.idea/*
.idea/sonarlint/
.idea/httpRequests
.idea_modules/
cmake-build-*/
out/

.idea/**/aws.xml
.idea/**/contentModel.xml
.idea/**/dataSources.ids
.idea/**/dataSources.local.xml
.idea/**/dataSources/
.idea/**/dbnavigator.xml
.idea/**/dictionaries
.idea/**/dynamic.xml
.idea/**/gradle.xml
.idea/**/libraries
.idea/**/mongoSettings.xml
.idea/**/shelf
.idea/**/sqlDataSources.xml
.idea/**/tasks.xml
.idea/**/uiDesigner.xml
.idea/**/usage.statistics.xml
.idea/**/workspace.xml
.idea/caches/build_file_checksums.ser
.idea/replstate.xml

*.iml
*.ipr
*.iws

atlassian-ide-plugin.xml
com_crashlytics_export_strings.xml
crashlytics-build.properties
crashlytics.properties
fabric.properties

!.idea/codeStyles
!.idea/runConfigurations

### Maven ###
target/

.mvn/timing.properties
.mvn/wrapper/maven-wrapper.jar

buildNumber.properties
dependency-reduced-pom.xml
pom.xml.next
pom.xml.releaseBackup
pom.xml.tag
pom.xml.versionsBackup
release.properties

### VisualStudioCode ###
.history/
.vscode/
.vscode/*

!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
!.vscode/*.code-snippets

*.vsix

### VisualStudioCode Patch ###
# Ignore all local history of files
.history
.ionide

### Gradle ###
.gradle/
**/build/
build/

.gradletasknamecache
*.hprof
gradle-app.setting

!gradle-wrapper.jar
!gradle-wrapper.properties
!src/**/build/

# End of https://www.toptal.com/developers/gitignore/api/intellij+all,visualstudiocode,eclipse,maven,gradle

# NetBeans
nb-configuration.xml

# OSX
.DS_Store

# Vim
*.swp
*.swo

# patch
*.orig
*.rej

# Local environment
.env

# Plugin directory
/.quarkus/cli/plugins/

# TLS Certificates
.certs/

# GenAI
.claude/
.claude/*
CLAUDE.md

# H2 file database
data/
